@keyframes spinAndPulse {
    0% {
      transform: rotate(0deg) scale(1);
      filter: brightness(1);
    }
    50% {
      transform: rotate(180deg) scale(1.1);
      filter: brightness(1.1);
    }
    100% {
      transform: rotate(360deg) scale(1);
      filter: brightness(1);
    }
  }
  
  #cookie {
    animation: spinAndPulse 3s linear infinite;
    transform-origin: center center;
    will-change: transform;
    cursor: pointer;
  }

#game-clickable-area.active {
    transform: scale(1.2);
    transition: transform 0.1s;
  }


#game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.shop {
  width: 250px;
  padding: 10px;
  background-color: #f3f3f3;
  border-left: 2px solid #ccc;
  height: 100vh; 
  box-sizing: border-box;
  overflow-y: auto;
  position: sticky;
  top: 0;
}


.golden-cookie {
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: url('./golden-cookie.png'); /* Remplace par ton image */
  background-size: cover;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.golden-cookie.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
